# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
4-natours/node_modules/.bin/acorn
4-natours/node_modules/.bin/acorn.cmd
4-natours/node_modules/.bin/eslint
4-natours/node_modules/.bin/eslint-config-prettier-check
4-natours/node_modules/.bin/eslint-config-prettier-check.cmd
4-natours/node_modules/.bin/eslint.cmd
4-natours/node_modules/.bin/esparse
4-natours/node_modules/.bin/esparse.cmd
4-natours/node_modules/.bin/esvalidate
4-natours/node_modules/.bin/esvalidate.cmd
4-natours/node_modules/.bin/js-yaml
4-natours/node_modules/.bin/js-yaml.cmd
4-natours/node_modules/.bin/loose-envify
4-natours/node_modules/.bin/loose-envify.cmd
4-natours/node_modules/.bin/mkdirp
4-natours/node_modules/.bin/mkdirp.cmd
4-natours/node_modules/.bin/prettier
4-natours/node_modules/.bin/prettier.cmd
4-natours/node_modules/.bin/rimraf
4-natours/node_modules/.bin/rimraf.cmd
4-natours/node_modules/.bin/semver
4-natours/node_modules/.bin/semver.cmd
4-natours/node_modules/.bin/which
4-natours/node_modules/.bin/which.cmd
4-natours/node_modules/@babel/
4-natours/node_modules/acorn-jsx/
4-natours/node_modules/acorn/
4-natours/node_modules/ajv/
4-natours/node_modules/ansi-escapes/
4-natours/node_modules/ansi-regex/
4-natours/node_modules/ansi-styles/
4-natours/node_modules/argparse/
4-natours/node_modules/aria-query/
4-natours/node_modules/array-includes/
4-natours/node_modules/ast-types-flow/
4-natours/node_modules/astral-regex/
4-natours/node_modules/axobject-query/
4-natours/node_modules/balanced-match/
4-natours/node_modules/brace-expansion/
4-natours/node_modules/callsites/
4-natours/node_modules/chalk/
4-natours/node_modules/chardet/
4-natours/node_modules/cli-cursor/
4-natours/node_modules/cli-width/
4-natours/node_modules/color-convert/
4-natours/node_modules/color-name/
4-natours/node_modules/commander/
4-natours/node_modules/concat-map/
4-natours/node_modules/confusing-browser-globals/
4-natours/node_modules/contains-path/
4-natours/node_modules/cross-spawn/
4-natours/node_modules/damerau-levenshtein/
4-natours/node_modules/deep-is/
4-natours/node_modules/define-properties/
4-natours/node_modules/doctrine/
4-natours/node_modules/emoji-regex/
4-natours/node_modules/error-ex/
4-natours/node_modules/es-abstract/
4-natours/node_modules/es-to-primitive/
4-natours/node_modules/escape-string-regexp/
4-natours/node_modules/eslint-config-airbnb-base/
4-natours/node_modules/eslint-config-airbnb/
4-natours/node_modules/eslint-config-prettier/
4-natours/node_modules/eslint-import-resolver-node/
4-natours/node_modules/eslint-module-utils/
4-natours/node_modules/eslint-plugin-es/
4-natours/node_modules/eslint-plugin-import/
4-natours/node_modules/eslint-plugin-jsx-a11y/
4-natours/node_modules/eslint-plugin-node/
4-natours/node_modules/eslint-plugin-prettier/
4-natours/node_modules/eslint-plugin-react/
4-natours/node_modules/eslint-scope/
4-natours/node_modules/eslint-utils/
4-natours/node_modules/eslint-visitor-keys/
4-natours/node_modules/eslint/
4-natours/node_modules/espree/
4-natours/node_modules/esprima/
4-natours/node_modules/esquery/
4-natours/node_modules/esrecurse/
4-natours/nod
e_modules/estraverse/
4-natours/node_modules/esutils/
4-natours/node_modules/external-editor/
4-natours/node_modules/fast-deep-equal/
4-natours/node_modules/fast-diff/
4-natours/node_modules/fast-json-stable-stringify/
4-natours/node_modules/fast-levenshtein/
4-natours/node_modules/figures/
4-natours/node_modules/file-entry-cache/
4-natours/node_modules/find-up/
4-natours/node_modules/flat-cache/
4-natours/node_modules/flatted/
4-natours/node_modules/fs.realpath/
4-natours/node_modules/function-bind/
4-natours/node_modules/functional-red-black-tree/
4-natours/node_modules/get-stdin/
4-natours/node_modules/glob-parent/
4-natours/node_modules/glob/
4-natours/node_modules/globals/
4-natours/node_modules/graceful-fs/
4-natours/node_modules/has-flag/
4-natours/node_modules/has-symbols/
4-natours/node_modules/has/
4-natours/node_modules/hosted-git-info/
4-natours/node_modules/ignore/
4-natours/node_modules/import-fresh/
4-natours/node_modules/imurmurhash/
4-natours/node_modules/inflight/
4-natours/node_modules/inquirer/
4-natours/node_modules/is-arrayish/
4-natours/node_modules/is-callable/
4-natours/node_modules/is-date-object/
4-natours/node_modules/is-extglob/
4-natours/node_modules/is-fullwidth-code-point/
4-natours/node_modules/is-glob/
4-natours/node_modules/is-promise/
4-natours/node_modules/is-regex/
4-natours/node_modules/is-symbol/
4-natours/node_modules/isarray/
4-natours/node_modules/isexe/
4-natours/node_modules/js-tokens/
4-natours/node_modules/js-yaml/
4-natours/node_modules/json-schema-traverse/
4-natours/node_modules/json-stable-stringify-without-jsonify/
4-natours/node_modules/jsx-ast-utils/
4-natours/node_modules/levn/
4-natours/node_modules/load-json-file/
4-natours/node_modules/locate-path/
4-natours/node_modules/lodash/
4-natours/node_modules/loose-envify/
4-natours/node_modules/mimic-fn/
4-natours/node_modules/minimatch/
4-natours/node_modules/minimist/
4-natours/node_modules/mkdirp/
4-natours/node_modules/mute-stream/
4-natours/node_modules/natural-compare/
4-natours/node_modules/nice-try/
4-natours/node_modules/normalize-package-data/
4-natours/node_modules/object-assign/
4-natours/node_modules/object-inspect/
4-natours/node_modules/object-keys/
4-natours/node_modules/object.assign/
4-natours/node_modules/object.entries/
4-natours/node_modules/object.fromentries/
4-natours/node_modules/object.values/
4-natours/node_modules/once/
4-natours/node_modules/onetime/
4-natours/node_modules/optionator/
4-natours/node_modules/os-tmpdir/
4-natours/node_modules/p-limit/
4-natours/node_modules/p-locate/
4-natours/node_modules/p-try/
4-natours/node_modules/parent-module/
4-natours/node_modules/parse-json/
4-natours/node_modules/path-exists/
4-natours/node_modules/path-is-absolute/
4-natours/node_modules/path-key/
4-natours/node_modules/path-parse/
4-natours/node_modules/path-type/
4-natours/node_modules/pify/
4-natours/node_modules/pkg-dir/
4-natours/node_modules/prelude-ls/
4-natours/node_modules/prettier-linter-helpers/
4-natours/node_modules/prettier/
Wo
uld remove 4-natours/node_modules/progress/
4-natours/node_modules/prop-types/
4-natours/node_modules/punycode/
4-natours/node_modules/react-is/
4-natours/node_modules/read-pkg-up/
4-natours/node_modules/read-pkg/
4-natours/node_modules/regenerator-runtime/
4-natours/node_modules/regexpp/
4-natours/node_modules/resolve-from/
4-natours/node_modules/resolve/
4-natours/node_modules/restore-cursor/
4-natours/node_modules/rimraf/
4-natours/node_modules/run-async/
4-natours/node_modules/rxjs/
4-natours/node_modules/semver/
4-natours/node_modules/shebang-command/
4-natours/node_modules/shebang-regex/
4-natours/node_modules/signal-exit/
4-natours/node_modules/slice-ansi/
4-natours/node_modules/spdx-correct/
4-natours/node_modules/spdx-exceptions/
4-natours/node_modules/spdx-expression-parse/
4-natours/node_modules/spdx-license-ids/
4-natours/node_modules/sprintf-js/
4-natours/node_modules/string-width/
4-natours/node_modules/string.prototype.trimleft/
4-natours/node_modules/string.prototype.trimright/
4-natours/node_modules/strip-ansi/
4-natours/node_modules/strip-bom/
4-natours/node_modules/strip-json-comments/
4-natours/node_modules/supports-color/
4-natours/node_modules/table/
4-natours/node_modules/text-table/
4-natours/node_modules/through/
4-natours/node_modules/tmp/
4-natours/node_modules/tslib/
4-natours/node_modules/type-check/
4-natours/node_modules/type-fest/
4-natours/node_modules/uri-js/
4-natours/node_modules/v8-compile-cache/
4-natours/node_modules/validate-npm-package-license/
4-natours/node_modules/which/
4-natours/node_modules/wordwrap/
4-natours/node_modules/wrappy/
4-natours/node_modules/write/
